@import url('fonts.css');
@import url('normalize.css');
@import url('owl.carousel.min.css');
@import url('w3.css');

/* @import url('owl.theme.default.css'); */




/*Настройка страницы*/
body{
    background-color: #aaa;
    font: 20px ProximaNovaSb, Arial, sans-serif;
    overflow-x: hidden;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #212931;
}
.center{
    text-align: center;
}
header{
    text-transform: uppercase;
    padding: 10px 0;
}
header, footer{
    background-color: #fff;    
    color: #212931;     
}
.white{
    background-color: #fff;
    overflow: hidden;
}
.gray{
    background-color: #465359;
    position: relative;
}
/*настройка кнопки cбрасываем стили браузера и устанавливаем свои*/
.w3-btn{
    background-color: #f87f01;
    color: #212931;
    font: 25px ProximaNovaSb, Arial, sans-serif;
    text-transform: uppercase;
}


.btn{
    cursor: pointer;
    display: inline-block;
    
    background-color: #f87f01;
    border: none;
    color: #212931;
    
    font: 25px ProximaNovaSb, Arial, sans-serif;
    text-transform: uppercase;    
    text-align: center;
    text-decoration: none;
    /* создаём маленькие отступы, если кнопки перенесутся на две строки */
    margin: 2px 0;
    /* невидимая граница (понадобится для цвета при наведении/фокусе) */
    border: solid 1px transparent;
    /* размер строится из текста и отступов (без width/height) */
    padding: 0.3em 60px;
}

.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
 }

    /* инвертируем цвета при наведении */
.btn:hover,{
    color: #f87f01;
    border-color: currentColor;
    background-color: white;
 }
    /* убеждаемся, что есть видимые границы при фокусе */
.btn:focus {
    outline: none;
 }
/*Элементы*/

header nav, .calling{
    /*float: left;
    margin-top: 10px;*/
}
.calling{
    text-align: center;
}
.calling>a::before{
    content: "";
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 35px;
    top: -4px;
    left: -40px;
    background-image: url('../img/hours24.png');
    background-repeat: no-repeat;
    background-position: center;
}
.calling img{
    width: 30px;
    margin-right: 5px;
}
.calling b{
    display: inline-block;
    margin-top: 10px;
    font-size: 0px;
}
header nav{
    /*margin-right: 5%;*/
}
.btn_nav{
    /*float: right;  
    margin-top: 7px; */ 
    font: 20px ProximaNova, Arial, sans-serif; 
    white-space: nowrap; 
}
header nav li{
    display: inline-block;
    /*margin-right: 40px;*/
}
nav a{
    
}

/*main*/
.filter{
    background-color: #fbfbfb;
    padding: 25px 0;
    
}
.site_logo{
   /* float: left;
    text-align: center;
    margin-right: 10%;*/
    margin-bottom: -12px;
    width: 200px;
}
img{
    width: 100%;
}
.site_logo em{
    display: block;
    text-transform: none;
    font: italic 20px BascervI, Arial, sans-serif;
    position: relative;
    top: -15px;
}
.filter_details{
    /*float: left;*/
    font-size: 26px;
}

 /*.filter_details>div{
   float: left;
}
.filter_details label{
    display: block;
}
.rent{
    margin-right: 100px;    
    padding: 15px 0;
}*/
.place{
    /*padding: 15px 0;*/
}
.rent label{
    line-height: 40px;
    display: block;
}
.place label{
    text-align: right;
}
.place label:first-child{
    margin-bottom: 15px;
}
/*настройка radio*/
input[type="radio"]{
    display: none;
}
input[type="text"]{
    /*width: 225px;*/
    font-size: 24px;
}
.check {
    cursor: pointer;
    position: relative;
    margin: auto;   
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.check:before {
    content: "";
    position: absolute;
    top: -8px;
    left: -12px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.check svg {
    position: relative;
    top: 4px;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}
.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
.check:hover:before {
    opacity: 1;
}
.check:hover svg {
    stroke: #f87f01;
}
.mark:checked + .check svg {
    stroke: #f87f01;
}
.mark:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
.mark:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

/*intellectual_transfer*/
.intellectual_transfer{
    background-image: url("../img/bg_sity.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase; 
}
h1{
    font: bold 32px UbuntuBd, Arial, sans-serif;
    margin: 0;    
    color: #f4f4f4;
    background-color: rgba(30, 39, 54, 0.65);    
    padding: 16px 0;
}
.itrb{
    background-image: url("../img/parking_cars.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 615px;
}
.notes{
    text-align: center;
    display: block;
    background-color: #f87f01;
    color: #202020;
    font: bold 32px UbuntuBd, Arial, sans-serif;
    padding: 13px 0;
}
h2{
    text-align: center;
    margin: 40px 0;
}
h3{
    font: 27px Ubuntu, Arial, sans-serif;
}
.lines{
    font: 31px ProximaNova, Arial, sans-serif;
    position: relative;
    padding: 0 15px;
    background-color: #fff;
    z-index: 2;
    display: inline-block;
}

.lines::before{
    content: "";
    display: block;
    border: 3px solid #f87f01;
    width: 80vw;    
    position: absolute;
    top: 18px;
    left: 0;
    transform-origin: 0%;
    transform: rotate(180deg);   
}/**/
.lines::after{
    content: "";
    display: block;
    border: 3px solid #f87f01;
    width: 80vw;    
    position: absolute;
    top: 18px;
    right: 0; 
    transform-origin: 100%;
    transform: rotate(180deg);
} 
.absolute{
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -78px;
    text-align: center;
    z-index: 1;
}
.servises{

}
.servises_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 100px 0 390px;
}
.servises_list_item{
    /* background-color: #ccc; */
    text-align: center;
    flex: 0 1 30%;
    padding: 1%;
    padding-top: 120px;

    background-repeat: no-repeat;
    background-position: 50% 0;
}
.servises_list_item:first-child{
    background-image: url("../img/icon_vcar.png");
}
.servises_list_item:nth-child(2){
    background-image: url("../img/icon_cars.png");
}
.servises_list_item:last-child{
    background-image: url("../img/icon_info.png");
}
.servises_list_item p{
    text-align: left;
}
.our_cars{
    padding: 58px 0 27px;    
}
.select{
    position: absolute;
    top: 29px;
}
/*tabs*/
/* Style the tab */
.tab {
    overflow: hidden;
    width: 316px;
    box-sizing: border-box;
    position: relative;
    top: -5px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    width: 50%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 16px 2px;
    transition: 0.3s;
    font: 25px ProximaNovaLt, Arial, sans-serif;
    color: #a0a2a3;
    border: 3px solid transparent;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    border-left: 3px solid #f87f01;
    border-right: 3px solid #f87f01;
    border-bottom: 3px solid #f87f01;
    color: #f87f01;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    border-left: 3px solid #f87f01;
    border-right: 3px solid #f87f01;
    border-bottom: 3px solid #f87f01;
    color: #f87f01;
  }
  
  /* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  /* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tabcontent_comments{
    font: 22px ProximaNovaTI, Arial, sans-serif;
    color: #f4f4f4;
    padding: 130px 5px 0;
}
.slider_vaz, .slider_volvo{
     max-width: 711px;
}
.cars_select span{
    box-sizing: border-box;
    display: inline-block;
    font: 18px ProximaNova, Arial, sans-serif;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    width: 316px;
    background-color: #f87f01;
  }

  /* Slideshow container */
.slideshow-container *{
    box-sizing:border-box;
  }
.slideshow-container {
    max-width: 100%;
    position: relative;
    /* margin: auto; */
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



.tariffs{
    padding-bottom: 138px;
    
}
.tariffs table{
    width: 45%;
}
.tariffs table:first-child{
    float: left;
}
.tariffs table+table{
    float: right;
}
.tariffs table caption{
    font: 26px ProximaNova, Arial, sans-serif;
    margin-bottom: 40px;
}
.tariffs table th{
    font: 18px ProximaNovaBd, Arial, sans-serif;
    padding: 30px 0;
}
.tariffs table tr>td:first-child{
    font: 16px ProximaNova, Arial, sans-serif;
}
.tariffs table tr>td:last-child{
    font: 16px ProximaNovaBd, Arial, sans-serif;
    text-align: right;
    width: 100px;
}
.tariffs_list{
    margin-bottom: 75px;
}


.passenger_care{    
    padding: 80px 0;
}
.passenger_img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 49%;
    min-height: 485px;
}
.passenger_img.one{
    background-image: url("../img/photo_doorscar.jpg");
    float: left;
}
.passenger_img.two{
    background-image: url("../img/photo_kids.jpg");
    float: right;
    position: relative;
}
.sign{
    position: absolute;
    box-sizing: border-box;
    bottom: 15px;
    right: 15px;
    margin: 0;
    max-width: 375px;
    background-color: #f87f01;
    padding: 25px 15px;
    font-size: 21px;
}
.width_inherit{
    width: 100%;
    min-height: 669px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.your_time{
    background-image: url("../img/photo_clooks.jpg");
    margin-bottom: 118px;
}
.comfort{
    background-image: url("../img/photo_man_in_car.jpg");
}
.safety{
    background-image: url("../img/photo_gadget.jpg");
    margin-bottom: 35px;
}
.reviews_slider{
    color: #d2d7da;
    font: 16px ProximaNovaLt, Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}
.reviews_slider p{
    margin-top: 0;
}
.reviews_slider span{
    font-family: ProximaNovaSb, Arial, sans-serif;
}
.reviews_slider .owl-item div{
    margin: 0 10%;
    padding: 35px 5px 35px 120px ;
    background-image: url("../img/icon_friends.png");
    /* background-size: cover; */
    background-position: 5% 50%;
    background-repeat: no-repeat;
}
.reviews_slider .owl-item:nth-child(odd) div{
    background-color: #c3c3c3;
    border-radius: 10px;
}

/*кнопки слайдера*/
.owl-nav {
    position: relative;
    top: -170px;
}
.owl-prev{
    position: absolute;
    left: 0;
}
.owl-next{
    position: absolute;
    right: 0;
}
.owl-nav span{
    color: transparent;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-left: 5px solid #212931;
    border-bottom: 5px solid #212931;
}
.owl-nav .owl-prev span{
    transform: rotate(45deg);
}
.owl-nav .owl-next span{
    transform: rotate(225deg);
}
/*Подвал*/

footer section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

.info{
    max-width: 420px;
}
.form  {
    max-width: 420px;
    box-sizing: border-box;
    margin-bottom: 45px;
}
.site_logo_f{
    text-align: center;
}
.site_logo_f em{
    display: block;
    text-transform: none;
    font: italic 26px BascervI, Arial, sans-serif;
    position: relative;
    top: -15px;
}
footer h3{
    font: 24px ProximaNovaBd, Arial, sans-serif;
    text-align: center;
}
.info p{
    font-size: 22px;
} 
.info span{
    display: inline-block;
} 
.info span:last-child{
    font-family: ProximaNova;
} 
.info a, .info span{
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    line-height: 1.5;
} 
.info p a{
    padding-left: 40px;
}
.info a[href^="tel"]{
    background-image: url("../img/email_insurance.png");
}
.info a[href^="mailto"]{
    background-image: url("../img/phone.png")
}

.form  p{
    text-align: center;
    font-size: 24px;
}
input[name="phone"], input[name="name"], textarea{
    font: 16px ProximaNovaLt, Arial, sans-serif;
    width: 100%;
    /*padding: 0;
    margin-bottom: 35px;*/
    box-sizing: border-box;
    border-color: #000;
    border-width: 1px;
}
input[type="text"]{
    height: 40px;
}
.form .btn{
    display: block;
    margin: auto;
}

.copyright{
    text-align: center;
    color: #f4f4f4;
    font-family:  ProximaNova;
}
.copyright span{
    display: inline-block;
    background-image: url("../img/qlab_logo.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    line-height: 80px;
    padding-left: 100px;
}

.cheked_thanks{
    padding: 70px 0;
    text-align: center;
    font: 26px ProximaNova, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 2;
}



@media screen and (min-width: 993px){
    .calling{
        text-align: right;
    }
}




@media screen and (max-width: 962px){
    .our_cars{
            padding-top: 0;            
        }
        .center_our_cars{
            text-align: center;
        }
   
    .tabcontent{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
        .select{
            position: relative;
            text-align: center;
        }
        .tab{
            margin: auto;
        }
        .tabcontent_comments{
            padding-top: 50px;
        }
}


/*

@media screen and (max-width: 550px){
    header nav li{
        display: block;
        text-align: center;
    }
    .tariffs table{
        width: 100%;
    }
    .tariffs table:first-child{
        float: none;
        margin-bottom: 40px;
    }
    .tariffs table+table{
        float: none;
    }
    .passenger_img{
        width: 100%;
    }
    .passenger_img.one{
        margin-bottom: 20px;
    }
    .reviews_slider .owl-item div{
        margin: 0 2%;
        padding: 15px 5px 15px 100px ;
    }
    .servises_list{
    margin-bottom: 200px;
    }
    .calling{
        float: none;
        margin: 15px auto;
        text-align: center;
    }
    .calling a{
        position: relative;
    }
    .filter{
        padding: 20px 0;
    }
    .filter_details{
        margin-left: 5vw;
        font-size: 7vw;
    }
    .rent{
        margin-right: 0;
    }
}


@media screen and (max-width: 420px){
    .cars_select span{
        display: block;
        margin: auto; 
        width: auto;
        max-width: 316px;
    }
    .tab{
        display: block;
        margin: auto; 
        width: auto;
        max-width: 316px;
    }
    h1{
        font-size: 6vw;
    }    
    h3{
        font-size: 7vw;
    }
    .notes{
        font-size: 5.5vw;
    }
    .lines{
        font-size: 28px;
    }
    .btn{
        font-size: 5vw;
    }
    .wrapper{
        overflow: hidden;
    }
    input[type="text"] {
        width: 48vw;
    }

}*/